<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p class="p-name">{{ site.title | escape }}</p>
        <p><a href="https://work.weixin.qq.com/ca/cawcde190987826a58" onclick="if(/Mobi|Android|iPhone/i.test(navigator.userAgent)){this.href='weixin://biz/ww/profile/https%3A%2F%2Fwork.weixin.qq.com%2Fca%2Fcawcde190987826a58'}">联系我们</a></p>
      </div>
      <div class="footer-col footer-col-2">
        <img src="{{ "/assets/images/weixin_qrcode.jpg" | relative_url }}" alt="微信公众号" style="max-width: 120px; border: 1px solid #ddd; padding: 5px;">
      </div>
      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
  </div>
</footer>
