<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  {%- feed_meta -%}
</head>
<body>
  {%- include header.html -%}

  {%- unless page.show_header == false -%}
  <header class="page-header">
    <div class="container">
      <h1>{{ page.heading | default: page.title | escape }}</h1>
    </div>
  </header>
  {%- endunless -%}

  <main role="main">
    {{ content }}
  </main>

  {%- include footer.html -%}
</body>
</html>
